@import "tailwindcss";

@theme {
  --color-nord0: #2E3440;
  --color-nord1: #3B4252;
  --color-nord2: #434C5E;
  --color-nord3: #4C566A;
  --color-nord4: #D8DEE9;
  --color-nord5: #E5E9F0;
  --color-nord6: #ECEFF4;
  --color-nord7: #8FBCBB;
  --color-nord8: #88C0D0;
  --color-nord9: #81A1C1;
  --color-nord10: #5E81AC;
  --color-nord11: #BF616A;
  --color-nord12: #D08770;
  --color-nord13: #EBCB8B;
  --color-nord14: #A3BE8C;
  --color-nord15: #B48EAD;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #2E3440;
  color: #ECEFF4;
}
